<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="assets/film.svg" width="40" height="32">
            <span class="fs-4">Movies App</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a [routerLink]="['']" class="nav-link" aria-current="page">Movies</a></li>
            <li class="nav-item"><a [routerLink]="['watch-list']" class="nav-link">WatchList</a></li>
        </ul>
    </header>
</div>